{% extends "base.html.j2" %}
{% set title %}Consumer Data Rights Request at FlaskCommerce{% endset %}
{% set page = 'generalform' %}

{% block content %}

<div class="card text-white bg-danger my-5 p-3 error-card">
  <div class="card-body p-1">
    <p class="card-text">
      <h1 class="text-white">Sorry!</h1>
      We are temporarily unable to accept orders at this time
    </p>
  </div>
</div>

{% endblock %}
