{% extends "base.html.j2" %}
{% set title %}Notice at Collection at FlaskCommerce{% endset %}
{% set page = 'privacy' %}

{% block content %}

<main class="container">
  <div class="row">
    <div class="col-lg-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><strong><a href="/">Home</a></strong></li>
          <li class="breadcrumb-item active" aria-current="page">Notice at Collection</li>
        </ol>
      </nav>
    </div>

    <div class="col-md-12">
      <h1 class="customer-service">Notice at Collection</h1>
    </div>

    <div class="col-md-12">
      <p>
        We collect the following types of Personal Information about you when you
        visit this website, or provide it directly to us, as described below.
    </p>
    <table class="table table-responsive">
      <thead>
        <tr>
            <td valign="top">
                <p>
                    <strong>
                        Categories of Sources from which the Information was
                        collected
                    </strong>
                </p>
            </td>
            <td valign="top">
                <p>
                    <strong>
                        Business or Commercial Purpose(s) for which Information
                        is Collected
                    </strong>
                </p>
            </td>
            <td valign="top">
                <p>
                    <strong>
                        Categories of Third Parties to whom this type of
                        Personal Information is Disclosed for a Business
                        Purpose
                    </strong>
                </p>
            </td>
            <td valign="top">
                <p>
                    <strong>
                        Categories of Third Parties to whom this Type of
                        Personal Information is Sold/Shared
                    </strong>
                </p>
            </td>
        </tr>
      </thead>
      <tbody>
          <tr>
              <td colspan="4" valign="top">
                  <p>
                      <strong>Identifiers, </strong>
                      such as a real name, alias, postal address, unique personal
                      identifier, online identifier, Internet Protocol address or
                      account name<strong></strong>
                  </p>
              </td>
          </tr>
          <tr>
              <td valign="top">
                  <ul type="disc">
                      <li>
                          Directly from you when you place an order, or sign up
                          to receive emails or catalogs
                      </li>
                      <li>
                          Automatically, when you visit our Sites
                      </li>
                      <li>
                          From third party sources, such as data brokers, or
                          third party social media platforms.
                      </li>
                  </ul>
              </td>
              <td valign="top">
                  <ul type="disc">
                      <li>
                          To complete your order or to communicate with you
                      </li>
                      <li>
                          To provide the website and its functionality to you
                      </li>
                      <li>
                          To analyze and understand our customers' preferences
                      </li>
                      <li>
                          To inform our marketing efforts
                      </li>
                  </ul>
              </td>
              <td valign="top">
                  <ul type="disc">
                      <li>
                          Service providers who support our business purposes
                      </li>
                  </ul>
              </td>
              <td valign="top">
                  <p>
                      We may share information with third party marketing and
                      analytics services as described in our <strong><a href="/privacy">Privacy Policy</a></strong>
                  </p>
              </td>
          </tr>
          <tr>
              <td colspan="4" valign="top">
                  <p>
                      <strong>
                          Categories of Personal Information as defined in Cal.
                          Civ. Code §1798.80</strong>, including name, physical characteristics or description,
                      address, telephone number, driver's license or state
                      identification card number, education, occupation or field,
                      and gift card information
                  </p>
              </td>
          </tr>
          <tr>
              <td valign="top">
                  <ul type="disc">
                      <li>
                          Directly from you
                      </li>
                      <li>
                          From third parties, such as data brokers or social
                          media platforms
                      </li>
                  </ul>
              </td>
              <td valign="top">
                  <ul type="disc">
                      <li>
                          To complete your order or to communicate with you
                      </li>
                      <li>
                          To better tailor our product offerings and to market
                          them to you
                      </li>
                  </ul>
              </td>
              <td valign="top">
                  <ul type="disc">
                      <li>
                          Service providers who support our business purposes
                      </li>
                  </ul>
              </td>
              <td valign="top">
                  <p>
                      We may share information with third party marketing and
                      analytics services as described in our <strong><a href="/privacy">Privacy Policy</a></strong>
                  </p>
              </td>
          </tr>
          <tr>
              <td colspan="4" valign="top">
                  <p>
                      <strong>
                          Characteristics of protected classifications under
                          California Law</strong>. Including race, ethnicity, or national origin, marital
                      status, veteran or military status, and sex (including
                      gender)
                  </p>
              </td>
          </tr>
          <tr>
              <td valign="top">
                  <ul type="disc">
                      <li>
                          Directly from you
                      </li>
                      <li>
                          From third parties, such as data brokers
                      </li>
                  </ul>
              </td>
              <td valign="top">
                  <ul type="disc">
                      <li>
                          To better personalize your experience and our marketing
                          efforts
                      </li>
                  </ul>
              </td>
              <td valign="top">
                  <ul type="disc">
                      <li>
                          Service providers who support our business purposes
                      </li>
                  </ul>
              </td>
              <td valign="top">
                  <p>
                      We may share information with third party marketing and
                      analytics services as described in our <strong><a href="/privacy">Privacy Policy</a></strong>
                  </p>
              </td>
          </tr>
          <tr>
              <td colspan="4" valign="top">
                  <p>
                      <strong>Commercial information</strong>, including records of products purchased
                  </p>
              </td>
          </tr>
          <tr>
              <td valign="top">
                  <ul type="disc">
                      <li>
                          Directly from you, when you make a purchase from us
                      </li>
                  </ul>
              </td>
              <td valign="top">
                  <ul type="disc">
                      <li>
                          To complete your order
                      </li>
                      <li>
                          To comply with legal obligations
                      </li>
                      <li>
                          To analyze our business, inform inventory and product
                          decisions, and inform marketing efforts
                      </li>
                  </ul>
              </td>
              <td valign="top">
                  <ul type="disc">
                      <li>
                          Service providers who support our business purposes
                      </li>
                  </ul>
              </td>
              <td valign="top">
                  <p>
                      We may share information with third party marketing and
                      analytics services as described in our <strong><a href="/privacy">Privacy Policy</a></strong>
                  </p>
              </td>
          </tr>
          <tr>
              <td colspan="4" valign="top">
                  <p>
                      <strong>
                          Internet or other electronic network activity
                          information
                      </strong>
                      , including but not limited to, browsing history, search
                      history, and information regarding a consumer's interaction
                      with an internet website application, or advertisement
                  </p>
              </td>
          </tr>
          <tr>
              <td valign="top">
                  <ul type="disc">
                      <li>
                          Automatically, when you visit our Sites
                      </li>
                  </ul>
              </td>
              <td valign="top">
                  <ul type="disc">
                      <li>
                          To provide our websites to you
                      </li>
                      <li>
                          To analyze the use of our websites and the performance
                          of our business and marketing efforts, and to improve
                          the functioning of our websites and the effectiveness
                          of our marketing
                      </li>
                  </ul>
              </td>
              <td valign="top">
                  <ul type="disc">
                      <li>
                          Service providers who support our business purposes
                      </li>
                  </ul>
              </td>
              <td valign="top">
                  <p>
                      We may share information with third party marketing and
                      analytics services as described in our <strong><a href="/privacy">Privacy Policy</a></strong>
                  </p>
              </td>
          </tr>
          <tr>
              <td colspan="4" valign="top">
                  <p>
                      <strong>Inferences </strong>
                      drawn from any of the above information to create a profile
                      about a consumer reflecting the consumer's preferences,
                      characteristics, psychological trends, predispositions,
                      behavior, attitudes, intelligence, abilities, and aptitudes
                  </p>
              </td>
          </tr>
          <tr>
              <td valign="top">
                  <ul type="disc">
                      <li>
                          We may draw these inferences ourselves or acquire them
                          from third parties, such as data brokers
                      </li>
                  </ul>
              </td>
              <td valign="top">
                  <ul type="disc">
                      <li>
                          To help us better personalize your experience, our
                          websites, and our marketing efforts
                      </li>
                  </ul>
              </td>
              <td valign="top">
                  <ul type="disc">
                      <li>
                          Service providers who support our business purposes
                      </li>
                  </ul>
              </td>
              <td valign="top">
                  <p>
                      We may share information with third party marketing and
                      analytics services as described in our <strong><a href="/privacy">Privacy Policy</a></strong>
                  </p>
              </td>
          </tr>
      </tbody>

    </table>
    <p>
        We will retain all of the above information as long as reasonably necessary
        to accomplish the business purpose for which it was collected.
    </p>
    <p>
        Residents of California, Colorado, Connecticut, Utah and Virginia have a
        right to opt out of the sale or sharing of their Personal Information, or
        the processing of their Personal Information for targeted, cross-context
        behavioral advertising. To exercise this right to opt out of the
        sale/sharing of your Personal Information, please click <strong><a href="/ca-do-not-sell">here</a></strong> or
        call us at 1-800-944-8879.
    </p>
    <p>
        You can read our full privacy policy <strong><a href="/privacy">here</a></strong>.
    </p>

    </div>
</main>

{% endblock %}
