{% extends "base.html.j2" %} {% set title %}{{ config.STORE_NAME }} VIP Insider at
{{ config.STORE_NAME }}{% endset %} {% set page = 'vipinsider' %} {% block content %}

<main></main>

{% endblock %}
