Dear {{ email }},

Please follow this link to confirm your password recovery procedure:

{{ config.STORE_URL}}/resetpassword?key={{ token }}

Your friends at,

{{ config.STORE_NAME }}
{{ config.STORE_URL }}