Hi There!

{{ owner_name }} ({{ owner_email }}) would like to share their {{ config.STORE_NAME }} wishlist with you.  Please click the link below to view it.

<a href="{{ config.STORE_URL }}/shared-wishlist/{{ hwlid }}">
  {{ config.STORE_URL }}/shared-wishlist/{{ hwlid }}
</a>

If you cannot click on the link, please cut-and-paste the link into the 'Location' field of your browser.

Thank you,
{{ config.NAME }}
{{ config.STORE_URL }}
