{% extends "base.html.j2" %}
{% set noindex = True %}
{% set title %}{{ config.STORE_NAME }} - Error{% endset %}
{% set page = '404' %}

{% block content %}

<main>
  <div class="container minheight minheight-400">
    <h1>Oops...</h1>
    We're having trouble processing your request. Please try reloading the page, and <a href="/contact-us">contact us</a> if the problem persists.

    <div class="w-100 mt-4">
      <div class="fullwidth__holder">
        <div id="recs-container" class="certona-carousel minheight minheigt-800 loading-mask"></div>
      </div>
    </div>
</main>
{% endblock %}
