{% from 'macros/errors.html.j2' import render_errors %}
{% extends "base.html.j2" %}
{% set title %}Please Update Your Password{% endset %}
{% set page = 'resetpassword' %}

{% block content %}

<main class="container reset-password-content minheight minheight-400">
  <div class="minheight minheight-400">
    <div class="shopping-cart-header">
      <h1 class="header-title primary-color">Please Update Your Password</h1>
    </div>

  {% if errors | length %}
    {# errors sent from application back-end here #}
    {{ render_errors(errors) }}
  {% else %}
    {# errors sent from application front-end here #}
    <div class="card text-white bg-danger mt-3 error-card" style="display: none">
      <div class="card-body">
        <p class="card-text"></p>
      </div>
    </div>
  {% endif %}

  {% if not errors | length %}

    <form method="POST" id="reset-password-form">
      <input type="hidden" name="request" value="update_password" />

        <div class="row">
          <div class="col-12 col-md-5">
            <div class="form-group row">
              <div class="controls col-md-12">
                <input
                  type="password"
                  class="col-lg-12 form-control"
                  required="required"
                  name="bill_account_password"
                  placeholder="Password (8-24 chars, containing letters and numbers)"
                  title="Please enter a password 8-24 chars, containing letters and numbers"
                  minlength="8"
                  maxlength="24"
                  pattern="(?=.*?[0-9])(?=.*?[A-Za-z]).+"
                  autocomplete="off"
                >
              </div>
            </div>
            <div class="form-group row">
              <div class="controls col-md-12">
                <input
                  type="password"
                  class="col-lg-12 form-control"
                  required="required"
                  name="bill_account_password_confirm"
                  placeholder="Confirm Password"
                  minlength="8"
                  maxlength="24"
                  autocomplete="off"
                >
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="button-primary" id="reset-password-button">Update Password</button>
            </div>
          </div>
        </div>
      </form>

      <div id="success-content" style="display: none">
        <div class="card text-white bg-success my-4 mx-0 mx-md-4">
          <div class="card-header"><h2>Password is Reset</h2></div>
          <div class="card-body">
            <p class="card-text text-larger">You are now logged in and your new password is active.  Please update your records and remember to use this new password in the future.  Thanks!</p>
          </div>
        </div>
      </div>

  {% endif %}
  </div>
</main>

{% endblock %}
