us_applepay_*.pem
flask_app/certs
virtualenv_python
node_modules
__pycache__
.DS_Store
*.log
*.pyc
logs
flask_cache
*master_feed.json
package-lock.json
public_html/assets/
public_html/graphics/
public_html/*_feed.txt
public_html/*.csv
public_html/*.zip
public_html/*.html
public_html/*.xml
public_html/*.json
flask_app/templates/includes/assets.inc
cypress/screenshots
cypress/videos
.viminfo
.cache
.npm
.pki
.ssh
tmp
*mysqldump.sql
*backup.sql
*.hot-update*
# exclude everything except marker file
.dev_db/*
dev-sql/02.sql
!.dev_db/.gitkeep
!requirements.txt
.dev_redis/*
!.dev_redis/.gitkeep
tmp
.pytest_cache
flask_app/templates/includes/footer_assets.inc
*.csv
cgi-bin/hazel.config
bin/hazel.config
.envrc
.profile
.bash_profile
.gnupg
.ssh
.bash_logout
.bash_history
.bashrc
*.code-workspace
devserver-startup.log