
<div class="pop-body cartpage">
  <div class="modal-header">
    <h5 class="modal-title text-white" id="cart-modalLabel">Product Not Found</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <i class="fa fa-times fa-2x"></i>
    </button>
  </div>
  <div class="modal-body popcart p-3">
    <div class="card text-white bg-danger mt-3 mx-3 error-card">
      <div class="card-body">
        <p class="card-text">Product not found.  Please call {{ config.STORE_PHONE }} if you have any questions.</p>
      </div>
    </div>
  </div>
</div>