/*Cart*/
.empty-cart {
	justify-content: flex-end;
}
.quick-add-detail-container:not(:last-child) {
	border-bottom: 1px solid $gray-lighter;
}
.quick-add-cart-heading {
	@media screen and (max-width: 767px) {
		border-bottom: 1px solid $gray-lighter;
	}
}
.shopping-cart-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0;
	@media screen and (max-width: 767px) {
		flex-wrap: wrap;
		padding: 0;
	}
	.header-title {
		margin-top: 0;
		margin-bottom: 0;
		flex-grow: 1;
		font-family: "Nunito", Helvetica, sans-serif;
		font-weight: 300;
		font-style: normal;
		font-size: 28px;
		@media screen and (max-width: 767px) {
			margin-bottom: 10px;
			//border-bottom: 1px solid #d5d5d5;
		}
	}
	.back-link {
		margin-right: 35px;
		font-size: 14px;
		.fa {
			margin-right: 5px;
		}
		@media screen and (max-width: 767px) {
			display: none;
		}
	}
	.button-orange {
		min-width: 295px;
		padding: 10px 16px;
		font-size: 18px;
		line-height: 1.33;
		border-radius: 6px;
		font-size: 20px;
		border-radius: 0;
		padding-top: 11px;
		padding-bottom: 11px;
		@media screen and (max-width: 767px) {
			width: 100%;
			min-width: 0;
		}
	}
  .checkout-top-btn {
		@media screen and (max-width: 767px) {
			width: 100%;
		}
  }
}

.summary-block {
	.cart-orderSummary {
		.total-line {
			margin-top: 20px;
		}
	}
}
.gift-options-content-container {
	margin: 0 auto;
	display: none;
	border-bottom: 1px solid $brand-primary;
	.gift-bags {
		max-height: 60px;
	}
	.gift-text {
		font-size: 1.2rem;
	}
	.gift-price-ea {
		padding-left: 27px;
	}
}
.lineitems {
	margin-bottom: 30px;
	.lineitem-headings {
		margin: 0;
		background-color: $gray-lighter;
		margin-bottom: 15px;
		> div {
			padding: 15px 0 15px 0;
			margin: 0;
			font-size: 16px;
			font-weight: 600;
		}
		.lineitem-heading-product {
			padding-left: 25px;
      color: #000
		}
		.lineitem-heading-qty {
			padding-left: 15px;
      color: #000
		}
		.lineitem-heading-price {
			padding-left: 20px;
      color: #000
		}
		.lineitem-heading-total {
			text-align: right;
			padding-right: 25px;
      color: #000
		}
	}
	.gift-options-container {
		position: absolute;
		bottom: -30px;
		left: 0;
		background-color: $gray-lighter;
		width: 100%;
		text-align: center;
		border: 1px solid transparent;
		border-top-left-radius: 0.25rem;
		border-top-right-radius: 0.25rem;
		color: $gray-darker;
		z-index: 2;
		&:after {
			content: " ";
			position: absolute;
			left: 47%;
			top: -6px;
			border-top: none;
			border-right: 6px solid transparent;
			border-left: 6px solid transparent;
			border-bottom: 6px solid $gray-lighter;
		}
		&.active {
			background-color: $brand-primary;
			color: #fff;
		}
		&.active:after {
			top: auto;
			bottom: -6px;
			border-bottom: none;
			border-top: 6px solid $brand-primary;
		}
	}
	.lineitem {
		margin: 0;
		border-bottom: 1px solid $gray-lighter;
		padding: 30px 0;
		position: relative;
		&.active {
			border-bottom: 1px solid $brand-primary;
		}
		.cart-thumb {
			max-height: 140px;
		}
		.lineitem-product {
			position: relative;
			.wish-list-btn {
				position: absolute;
				bottom: 0;
			}
			.product-title {
				font-family: "Nunito", Helvetica, sans-serif;
				font-weight: 400;
				font-style: normal;
				font-size: 1.2rem;
				color: #333;
        text-decoration: none;
			}
			.product-stock-status,
			.product-message {
				font-size: 1.2rem;
			}
			.quantity-field {
				display: table-cell;
				height: 32px;
				width: 70px;
				font-size: 16px;
				padding: 5px;
				vertical-align: middle;
				text-align: center;
			}
		}
		.remove-from-cart {
			font-size: 1.2rem;
			font-weight: bold;
		}
		.lineitem-price,
		.lineitem-total {
			font-weight: bold;
			font-size: 1.2rem;
			padding-top: 10px;
		}
		.lineitem-price {
			span {
				margin-bottom: 10px;
			}
		}
		.lineitem-total {
			text-align: right;
		}
	}
}

@media only screen and (min-width: 1310px) {
	.lineitem {
		.lineitem-price {
			padding-left: 55px !important;
		}
	}
}
@media only screen and (min-width: 992px) and (max-width: 1309px) {
	.lineitem {
		.lineitem-price {
			padding-left: 50px;
		}
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.lineitem {
		.lineitem-price {
			padding-left: 45px;
		}
	}
}
@media only screen and (min-width: 768px) {
	.lineitems {
		.lineitem {
			.lineitem-price {
				span {
					display: block;
					width: 100%;
				}
			}
			.lineitem-total {
				padding-right: 25px;
			}
		}
	}
}
@media only screen and (max-width: 767px) {
	.lineitems {
		margin-top: 15px;

		.lineitem-headings,
		.wish-list-btn,
		.remove-from-cart {
			display: none;
		}
		.remove-item-icon-mobile {
			position: absolute;
			top: 10px;
			right: 0px;
		}
		.lineitem {
			padding: 10px 10px 30px 0;
			.lineitem-qty {
				.lineitem-qty-line {
					display: flex;
					align-items: center;
					flex-direction: row;
				}
			}
			.lineitem-total {
				text-align: left;
			}
		}
	}
}

@media only screen and (max-width: 575px) {
	.gift-options-content-container {
		.gift-text {
			font-size: 1rem;
		}
	}
}

.cart-shipping-details {
	width: 100%;
	@media screen and (max-width: 767px) {
		width: 100%;
	}
	.col-lg-4 {
		@media screen and (max-width: 767px) {
			padding: 0;
		}
	}
	.form-group {
		display: flex;
		justify-content: space-between;
		.cart-shipping-address,
		.cart-shipping-options {
			width: 100%;
			padding: 20px;
			background: #f3f3f3;
			@media screen and (max-width: 767px) {
				width: 100%;
				padding: 20px;
				margin-right: 0;
			}
		}
	}

	h2 {
		font-family: "Nunito", Helvetica, sans-serif;
		font-weight: 300;
		font-style: normal;
		margin-top: 0;
		margin-bottom: 15px;
		padding-bottom: 15px;
		font-size: 1.5rem;
	}
}

.cart-shipping-cutoffs {
	width: 100%;
	padding: 20px;
	background: #f3f3f3;
	@media screen and (max-width: 767px) {
		width: 100%;
		padding: 20px;
		margin-right: 0;
	}
	.cutoff-dates {
		font-size: 1.2rem;
		line-height: 2.2rem;
	}
}

.summary-block {
	@media screen and (max-width: 991px) {
		margin-top: 15px;
	}
	.promotion {
		padding: 20px;
		margin-bottom: 15px;
		background: #f3f3f3;
		h3 {
			font-family: "Nunito", Helvetica, sans-serif;
			font-weight: 300;
			font-style: normal;
			margin-top: 0;
			font-size: 1.25rem;
		}
		.control-wrapper {
			display: flex;
			input {
				margin-right: 15px;
			}
			button {
				flex-shrink: 0;
			}
		}
	}
	.cart-orderSummary {
		font-size: 16px;
		.ordersummary {
			min-height: 20px;
			margin-bottom: 20px;
		}
		.summary-line {
			display: flex;
			margin-bottom: 10px;
			font-size: 16px;
			.summary-label {
				flex-grow: 1;
				margin-right: 15px;
				color: #333;
			}
			.price {
				flex-shrink: 0;
				font-family: "Nunito", Helvetica, sans-serif;
				font-weight: 600;
				font-style: normal;
				color: #444;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
		.total-line {
			padding-top: 20px;
			border-top: 1px solid #d5d5d5;
			font-size: 18px;
		}
		.checkout {
			text-align: center;
			margin: 0 0 18px 0;
			.button-orange {
				max-width: 295px;
				width: 100%;
				padding: 10px 16px;
				line-height: 1.33;
				font-size: 20px;
				border-radius: 0;
				padding-top: 11px;
				padding-bottom: 11px;
				@media screen and (max-width: 767px) {
					width: 100%;
					max-width: 100%;
				}
			}
		}
		.or-paypal {
			font-size: 20px;
			margin: 0 0 18px 0;
			width: 100%;
			display: block;
			@media screen and (max-width: 767px) {
				font-size: 14px;
				margin: 6px 0 24px 0;
			}
		}
		.paypal-holder {
			width: 100%;
			display: block;
		}
	}
}

#ship-method-spinner {
  position: absolute;
  left: -20px;
}