<nav class="list-group">
  <a href="/account" aria-current="page" class="list-group-item">
    Account Summary
  </a>
  <a href="/account#/update" class="list-group-item">
    Update Your Info
  </a>
  <a href="/account#/passwordupdate" class="list-group-item">
    Change Password
  </a>
  <a href="/account#/orders" class="list-group-item">
    Orders
  </a>
  <a href="/account#/addresses" class="list-group-item">
    Addresses
  </a>
  <a href="/account#/wishlist" class="list-group-item">
    Wish List
  </a>
  <a href="/customerservice" class="list-group-item">
    Shipping Info
  </a>
  <a href="/contact" class="list-group-item">
    Contact Us
  </a>
  <a href="/logout" class="list-group-item text-danger">
    Log Out
  </a>
</nav>