<div class="card text-white bg-danger mt-3 error-card">
  <div class="card-body">
    <p class="card-text">
      A {{ config.AK_HI_SURCHARGE | format_currency}} shipping surcharge applies to this order for AK & HI addresses.
    </p>
  </div>
</div>