<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [
      {
        "@type": "Question",
        "name": "What type of materials is your jewelry constructed from?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Our jewelry is sourced from high-quality craftsmen that use the finest metals, gemstones, and other materials. We use elements like sterling silver, gold, pearls, copper, turquoise, and other unique items to bring you one-of-a-kind pieces to be treasured."
        }
      },
      {
        "@type": "Question",
        "name": "Do you have unique accessories other than earrings or bracelets?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Yes, we carry a variety of special items. Pocket watches, rings, and brooches are just some of the more unusual accessories we keep in stock."
        }
      },
      {
        "@type": "Question",
        "name": "How can I keep my jewelry looking new after purchase?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "We recommend storing your jewelry in one of our protective and decorative jewelry boxes. You can also regularly clean with the appropriate jewelry cleaner, just make sure it's approved for the materials your item is made from."
        }
      }
    ]
  }
</script>

<div class="container my-4">
  <h2>Frequently Asked Questions</h2>
  <hr class="my-4" />

  <p dir="ltr">
    Q: What type of materials is your jewelry constructed from?
  </p>
  <br/>
  <p dir="ltr">
      A: Our jewelry is sourced from high-quality craftsmen that use the finest
      metals, gemstones, and other materials. We use elements like sterling
      silver, gold, pearls, copper, turquoise, and other unique items to bring you
      one-of-a-kind pieces to be treasured.
  </p>
  <br/>
  <p dir="ltr">
      Q: Do you have unique accessories other than earrings or bracelets?
  </p>
  <br/>
  <p dir="ltr">
      A: Yes, we carry a variety of special items. Pocket
      <a href="/jewelry/watches">watches</a>, <a href="/jewelry/rings">rings</a>, and
      <a href="/jewelry/pins">
          brooches
      </a>
      are just some of the more unusual accessories we keep in stock.
  </p>
  <br/>
  <p dir="ltr">
      Q: How can I keep my jewelry looking new after purchase?
  </p>
  <br/>
  <p dir="ltr">
      A: We recommend storing your jewelry in one of
      our<a href="/jewelry/storage">protective and
      decorative jewelry boxes</a>. You can also regularly clean with the
      appropriate jewelry cleaner, just make sure it's approved for the materials
      your item is made from.
  </p>
  <div>
      <br/>
  </div>
</div>