<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [
      {
        "@type": "Question",
        "name": "Do you offer plus sizes on your clothing?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Yes, we carry a variety of sizes! Please be sure to check the specific product page to see the availability of sizes."
        }
      },
      {
        "@type": "Question",
        "name": "What are some of your most popular clothing items for women?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Our most popular items are our Tunics & Tops and our Sleepwear & Robes, however we carry something for everyone! Be sure to check out T-Shirts which can be personalized either for you or as a gift!"
        }
      },
      {
        "@type": "Question",
        "name": "How much do you charge for shipping?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Our shipping prices vary. Please refer to our Shipping & Processing page to calculate shipping prices."
        }
      }
    ]
  }
  </script>

  <div class="container my-4">
    <h2>Frequently Asked Questions</h2>
    <hr class="my-4" />

    <div class="w-100">
      <p dir="ltr">
        Q: Do you offer plus sizes on your clothing? <br/>
        <br/>
    </p>
    <p dir="ltr">
        A: Yes, we carry a variety of sizes! Please be sure to check the specific
        product page to see the availability of sizes.
    </p>
    <br/>
    <p dir="ltr">
        Q: What are some of your most popular clothing items for women?
    </p>
    <br/>
    <p dir="ltr">
        A: Our most popular items are our
        <a href="/clothing/tops">
            Tunics &amp; Tops
        </a>
        and our
        <a href="/clothing/sleepwear">Sleepwear &amp; Robes</a>, however we carry something for everyone! Be sure to check out
        <a href="/shirts">
            T-Shirts
        </a>
        which can be personalized either for you or as a gift!
    </p>
    <br/>
    <p dir="ltr">
        Q: How much do you charge for shipping?
    </p>
    <br/>
    <p>
        A: Our shipping prices vary. Please refer to our
    </p>
    <a href="/customerservice">Shipping &amp; Processing</a>
        page to calculate shipping prices.
    </div>
  </div>