<base href="/">
<link rel='preconnect' href='//snapui.searchspring.io' />
<link rel='preconnect' href='//www.googletagmanager.com' />
<link rel='preconnect' href='//www.google-analytics.com' />
<link rel='preconnect' href='//fonts.gstatic.com' />
<link rel="shortcut icon" href="{{ config.STORE_URL }}{{ config.STORE_FAVICON }}">
<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
<meta name="google-site-verification" content="_xfEwcbGJo7YLqQgrntovSXaUnKn_tMRvM5Y7VGdb18" />
<meta name="google-site-verification" content="AF0zeJH0kBwUOboZyBgjbpwiEKV3wJQ-7ZhQbmi_4x4" />
<meta name="google-site-verification" content="J5mUrGxAAeH57FJF07rJQJVtZt4PP-cGG4fNNxzGsYs" />
<meta name="msvalidate.01" content="7E8FA69173F421A170ED39BA87A9ABF7" />
<meta name="p:domain_verify" content="c913167f151ae2e5cb7469b9ac066d68"/>
<meta charset="utf-8">
<meta name="viewport" id="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" >
<meta name="description" content="{{ sanitize(strip_html(metadesc)) if metadesc else config.STORE_META_DESCRIPTION }}">
<meta name="company" content="{{ config.STORE_NAME }}" />
<meta name="author" content="{{ config.STORE_NAME }}">
<link rel="prefetch" href="{{ config.STORE_URL }}/assets/fonts/spinners.woff" as="font">
