<section class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="sign_up-box text-center">
        <div class="sign_up-message w-auto float-xl-start"><span>Get the latest deals and more.</span>  <label for="email-signup-hp">Enter your E-Mail and get 15% off your order!</label></div>
          <div class="sign_up-form float-xl-end pt-2 pt-xl-0">
            <form id="emailsignup">
              <input type="email" id="email-signup-hp" name="bill_email" placeholder="Enter E-Mail" required aria-label="Enter E-Mail Address" />
              <button type="submit">SIGN UP</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>