<strong>{{ config.STORE_NAME }}</strong><br />
{{ config.STORE_ADDRESS1 }}<br />
{{ config.STORE_CITY }}, {{ config.STORE_STATE }} {{ config.STORE_ZIP }}<br />
United States of America<br />
Ordering (24 hrs.): {{ config.STORE_PHONE }}<br />
Fax: {{ config.STORE_FAX }}<br />
Customer Service: {{ config.STORE_CUSTOMER_SERVICE }}<br />
<a href="/contact">E-Mail us</a>